:root{
  --primary-color: #008E97;
	--secondary-color: #5ED486;
	--accent1-color: #002623;
	--accent2-color: #A5E887;
	--heading-font: "Bebas Neue", sans-serif;
	--body-font: "Open Sans", sans-serif;
}