:root{
  --primary-color: #008E97;
	--secondary-color: #5ED486;
	--accent1-color: #002623;
	--accent2-color: #A5E887;
	--heading-font: "Bebas Neue", sans-serif;
	--body-font: "Open Sans", sans-serif;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: var(--body-font);
	color: var(--accent1-color);
}

main { 
  max-width: 800px;
  margin: 0 auto;
}

h1 {
	font-size: 1rem;
	padding: 1rem;
	background-color: var(--accent1-color);
	color: #fff;
	text-align: center;
}

h2 {
  text-align: center;
}

p {
	margin: 1rem;
	border: 1px solid rgb(0 0 0 /0.1);
	padding: 0.5rem;
	background-color: #eee;
}

nav {
	background-color: var(--primary-color);
}

figure {
  margin: 0;
  text-align: center;
  border: 1px solid #ccc;
  padding: 0.5rem;
  background-color: #f9f9f9;
}

figure img {
  width: 100%;
  height: auto;
}

footer{
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (min-width: 40em) {
	h1 {
		font-size: 2rem;
	}
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
  .gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  }
}